.Todo {
    max-width: 600px;
    margin: auto;
}

.Todos {
    display: flex;
    justify-content: space-between;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    height: 50px;
    font-size: 24px;
    align-items: center;
    height: 60px;
    background-color: #fff;
    height: auto;
    margin-bottom: 1px;
}

.Todos_content {
    display: flex;
    align-items: center;
}

.Todos_content p {
    max-width: 500px;
    overflow-wrap:break-word;
    text-align: start;
}

.Todos_content img {
    padding: 0 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.3;
    color: #B0C4DE;
}

.delete {
    border: none;
    background-color: #fff;
    width: 20px;
    opacity: 0.3;
    color: red;
    padding: 0 10px;
}

.Todos .delete:hover {
    cursor: pointer;
}

.img_check {
    opacity: 0.5;
}

