.inputBoxShadow{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgb(192,192,192,0.5); 
}

.inputBox{
    position: relative;
    padding: 33px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    /* height: 300px; */
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 10px 10px 5px grey;
    top: 20%;
    font-family: "Kanit", sans-serif;
    z-index: 2;
}


input{
    font-family: "Kanit", sans-serif;
}

.inputTodo{
    width: 100%;
    padding: 5px;
    border:none;
    border-bottom: 1px solid grey;
    margin-bottom: 35px;
}

textarea:focus, input:focus{
    outline: none;
}

.btn{
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    width: 120px;
    margin: 0 15px;
    margin-top: 15px;
    color: black;
    border-radius: 20px;
    border: 1px solid palevioletred;
    background-color: white;
    cursor: pointer;
}

.inputBoxButton{
    margin: auto;
}

.warning{
    font-size: 15px;
    color: red;
}