.Footer_content {
    /* position: absolute;
    bottom: 14%; */
}

.Nav_footer {
    border-top: 1px solid;
    margin-bottom: 10px;
}

/* .Footer_content hr {
    background-color: #000;
    font-weight: 100;
    width: 595px;
} */

.Footer_content button {
    margin-top: 10px;
    padding: 16px 24px;
    border-radius: 10px;
    /* border: 1px solid; */
    font-size: 16px;
    /* background-color: #BBBBBB; */
    border: none;
    background-color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.click_btn {
    margin: 0 4px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 1px 1px ;
}

.btn {
    margin: 0 4px;
}