.App {
  position: relative;
  text-align: center;
  max-width: 700px;
  margin: auto;
  border: 1px solid #ccc;
  margin-top: 40px;
  min-height: 600px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  /* background: linear-gradient(180deg,#f05053,#e1eec3,#355c7d) no-repeat; */
  /* background-color: #ddd; */

}

.Todos {
  max-width: 500px;
  margin: auto;
  height: 380px;
  background-color: #fff;
}

hr {
  background-color: #000;
  font-weight: 100;
  width: 595px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

