body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg,#c06c84,#6c5b7b,#355c7d) no-repeat;
  /* background-image: linear-gradient(to bottom, rgba(88,37,123,0), 
  rgba(88,37,123,1)); */
  /* box-sizing: border-box; */
  height: 935px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
